<a href="https://colab.research.google.com/github/Thiago-Alencar/dt/blob/main/treino.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

##Estrutura de um dataframe

In [ ]:
df.head()

In [ ]:
df.info()

indice

In [ ]:
df.index

RangeIndex(start=0, stop=891, step=1)

Alterando o índice do DataFrame

In [ ]:
df.set_index('PassengerId', inplace=True)

In [ ]:
df.head()

Colunas

In [ ]:
df.columns

Valores

In [ ]:
df.values

Internamente o Pandas trata dados como Arrays Numpy!

In [ ]:
type(df.values)

**DataFrames e Séries**


*   Métodos diferentes
*   N dimensões

Consultado dados

Selecionar linhas pelo índice de valor "1"

In [ ]:
df.loc[[1]]

In [ ]:
df.loc[1]

In [ ]:
df.iloc[[0]]

In [ ]:
type(df.loc[1])

Selecionar várias linhas usando o loc

In [ ]:
df.loc[[1,2,3]]

Consultando dados usando Slice

In [ ]:
df.loc[10:20]

In [ ]:
#step 2
df.loc[10:20:2]

In [ ]:
df.loc[10:]

Selecionando linhas e colunas o loc

In [ ]:
#df.loc[[linha1,linha2],["coluna1","coluna2","coluna3"]]
df.loc[[1,2],["Name","Sex","Age"]]

Slice com linhas e selecionando colunas

In [ ]:
df.loc[[1:10],["Name","Sex","Age"]]

Selecionando todas as linhas e apenas algumas colunas

In [ ]:
df.loc[:,["Name","Sex","Age"]]

Trabalhando com o método query()

In [ ]:
df.query("Age >20").head()

In [ ]:
df.query('Age > 20 & Sex =="male"').head(10)

Usando o operador OR

In [ ]:
df.query('Age > 20 | Sex=="male"').head(10)

Operador in e o parámetro inplace

In [ ]:
df.query('Embarked in ["C","Q"]',inplace=True)# inplace Altera o dataframe em memoria

In [ ]:
df.head()

Filtrado dados tipo object

In [ ]:
df.select_dtypes(include=['object'])



* pd.read_csv- Ler dados de um arquivo CSV em um DataFrameobjeto Pandas
* info() - Ver informações básicas sobre linhas, colunas e tipos de dados
* describe() - Ver informações estatísticas sobre colunas numéricas
* columns - Obtenha a lista de nomes de coluna
* shape - Obtenha o número de linhas e colunas como uma tupla
* covid_df['new_cases']- Recuperando colunas como um Seriesusando o nome da coluna
* new_cases[243]- Recuperando valores de um Seriesusando um índice
* covid_df.at[243, 'new_cases'] - Recuperação de um único valor de um quadro de dados
* covid_df.copy() - Criação de uma cópia profunda de um quadro de dados
* covid_df.loc[243] - Recuperação de uma linha ou intervalo de linhas de dados do quadro de dados
* head, tailE sample- Recuperando várias linhas de dados a partir do quadro de dados
* covid_df.new_tests.first_valid_index - Encontrar o primeiro índice não vazio de uma série
* covid_df.new_cases.sum() - Calculando a soma dos valores em uma coluna ou série
* covid_df[covid_df.new_cases > 1000] - Consulta a um subconjunto de linhas que satisfazem os critérios escolhidos usando expressões booleanas
* df['pos_rate'] = df.new_cases/df.new_tests - Adicionar novas colunas combinando dados de colunas existentes
* covid_df.drop('positive_rate') - Removendo uma ou mais colunas do quadro de dados
* sort_values - Classificando as linhas de um quadro de dados usando valores de coluna
* covid_df.at[172, 'new_cases'] = ... - Substituindo um valor dentro do quadro de dados
* Para gravar os dados do quadro de dados em um arquivo, podemos usar a to_csv  : resultado_df.to_csv('results.csv', index=None)



---

##Analisando um DataFrame com Profiling

In [ ]:

import pandas_profiling

In [ ]:
from pandas_profiling import ProfileReport

In [ ]:
#Criando modelo de relatorio
profile = ProfileReport(df, title='Relatorio', html={'style':{'full_width':True}})

In [ ]:
#Visualisando modelo
profile.to_notebook_iframe()

In [ ]:
#Exporta Relatorio
profile.to_file(output_file='Relatorio Base de Dados.html')